.languages {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: reverse;
  margin: 0;
  padding: 0;
  list-style: none;
}

.languages li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 1rem;
  font-weight: 700;
  font-size: 1.2rem;
}

.languages li::before {
  content: "";
  display: inline-block;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  background-image: url("/assets/images/icons/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
