.habilidadescontainer {
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.habilidades {
  padding-right: 23rem;
}

.habilidadescelula li {
  padding-bottom: 0.3rem;
}

.profissionais li {
  padding-bottom: 0.3rem;
}
